=body{
  margin:0;
  text-align:center;
  font-family:Georgia;
  background:linear-gradient(#fff1d6,#f7d9b5);
}

.overlay{
  position:fixed;
  inset:0;
  background:#6b3e26;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

button{
  padding:14px 25px;
  border-radius:30px;
  border:none;
  font-size:18px;
}

.card{
  background:white;
  margin:20px auto;
  padding:20px;
  width:90%;
  max-width:300px;
  border-radius:20px;
}